#editFields {
    top: 0;
    left: 0;
    width: 40%;
    display: none;
    padding: 10px;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    overflow-y: scroll;
    min-height: 50vh !important;
    background: rgba(222, 226, 230, 0.95);
    box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.49);

}

.display_block {
    display: block !important;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
}

button.accordion-button {
    background: #cfe2ff;
    border: 1px solid #8dbaff;
}

.accordion-item {
    margin-bottom: 20px;
}
.dest-list{
    margin-left: 6%;
}

.dest-list label,
.dest-list small {
    display: block;
}

.dest-list small {
    text-align: left;
    font-size: .75em;
    margin: 0 0 0 5px;
}

.active-success {
    background-color: green;
    color: white;
    border: 1px solid green;
}


/*--------------------*/
.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    /*height: 140px;*/
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toggle-button-cover .button {
    position: relative;
    top: 50%;
    width: 90px;
    height: 30px;
    /*margin: -20px auto 0 auto;*/
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #6c757d;
    transition: 1s ease all;
    z-index: 1;
}

.button.r,
.button.r .layer {
    border-radius: 0.25rem;
}

.button-3 .knobs:before {
    content: "OFF";
    position: absolute;
    top: 0px;
    right: 0;
    width: 75%;
    height: 30px;
    /*color: #6c757d;*/
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;

    background-color: #f44336;
    color: white;
    transition: 0.3s cubic-bezier(0.16, 0.14, 0.66, 1.04) all, right 0.53s cubic-bezier(0.35, -0.56, 0.45, 1.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-3 .checkbox:active + .knobs:before {
    width: 36px;
    border-radius: 2px;
}

.button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
}

.button-3 .checkbox:checked + .knobs:before {
    content: "ON";
    left: 0;
    right: unset;
    background-color: #198754;
    color: white;
}

.button-3 .checkbox:checked ~ .layer {
    background-color: #6c757d;
}


.cursor-pointer{
    cursor: pointer;
}
.btn-options-plus{
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 !important;
}

.row-edit-option{
    display: flex;
}
.row-edit-option>span{
    width: 50%;
    margin: 1%;
}
.row-edit-option>span:last-child{
    width: 60px;
}

.image_icon_options{
    border: 0.05rem solid;
    width: 18px;
    height: 18px;
    margin-top: 7px;

}





.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}
#wrap-list-option-edit .picture {
    width: 106px;
    height: 70px;
    background-color: #999999;
    border: 4px solid #cccccc;
    color: #ffffff;
    margin: 0px auto;
     overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover {
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    height: 100%;
}
.btnChangeImageOption,
.btnDeleteImageOption{
    height: 30px;
    margin: 2px;
}
/*Profile Pic End*/


.check-list-warp span.check-list-item-img  input[type="checkbox"],
.check-list-warp span.check-list-item-img  input[type="radio"]
{
    display: none;
}

.check-list-warp span.check-list-item-img label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.check-list-warp span.check-list-item-img label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #2977ff;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}
.picture-md{
    max-width: 90px;
    max-height: 90px;
    width: 90px;
    height: 90px;
}
.picture-lg{
    max-width: 120px;
    max-height: 120px;
    width: 120px;
    height: 120px;
}
.picture-sm{
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
}
.check-list-warp span.check-list-item-img  label img ,.image-item-checkbox{
    pmargin-right: 0px !important;
    margin-right: 0px !important;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.check-list-warp span.check-list-item-img  :checked + label {
    border-color: #ddd;
}

.check-list-warp span.check-list-item-img  :checked + label:before {
    content: "✓";
    background-color: #2977ff;
    transform: scale(1);
}

.check-list-warp span.check-list-item-img  :checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}



.sortable-element .boder-dote-field{
    padding: 10px;
    border: 1px dotted rgba(42, 42, 42, 0.25);
    transition: 0.1s linear;
}
.sortable-element .boder-dote-field:hover {
    border: 1px dotted rgba(42, 42, 42, 0.79);
    cursor: move;
}

.line-around {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}
.line-around hr {
    padding: 0;
    margin: 0 10px;
}
.line-around span {
 font-weight: bold;
}


.line-around hr:first-child {
    content: "";
    width: 20px;
}

.line-around hr:last-child {
    content: "";
    width: 120px;
}
/*
.line-around hr:last-child {
    content: "";
    width: 100px;
    height: .009rem;
    position: absolute;
    background: black;
    opacity: .25;
    top: 50%;
    left: -90%;
    transform: translateY(-50%);
}*/
