
.types {
    display: flex;
    flex-direction: column;
}

.btn_dark_ {
    background: #ccc;
    color: #000;
}

.btn_dark_:hover {
    background: #000;
    color: #fff;
}

.type_date_desactive {
    display: none;
}

.hiddenElement {
    display: none;
}

.order_field {
    background: transparent !important;
    border: 0px;
    padding: 0 6px;
}


.image-input .image-input-wrapper {
    width: 174px !important;
    height: 130px !important;
    border-radius: .5rem !important;
}

.btnsTodoList {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 30px;
}

div#Chump_radios {
    position: relative;
}


#editFields {
    top: 0;
    left: 0;
    width: 40%;
    display: none;
    padding: 10px;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    overflow-y: scroll;
    min-height: 50vh !important;
    background: rgba(222, 226, 230, 0.95);
    box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.49);

}

.display_block {
    display: block !important;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
}

button.accordion-button {
    background: #cfe2ff;
    border: 1px solid #8dbaff;
}

.accordion-item {
    margin-bottom: 20px;
}

.active-success {
    background-color: green;
    color: white;
    border: 1px solid green;
}


/*--------------------*/
.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    /*height: 140px;*/
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toggle-button-cover .button {
    position: relative;
    top: 50%;
    width: 90px;
    height: 30px;
    /*margin: -20px auto 0 auto;*/
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#premodal .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #6c757d;
    transition: 1s ease all;
    z-index: 1;
}

.button.r,
.button.r .layer {
    border-radius: 0.25rem;
}

.button-3 .knobs:before {
    content: "OFF";
    position: absolute;
    top: 0px;
    right: 0;
    width: 75%;
    height: 30px;
    /*color: #6c757d;*/
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;

    background-color: #f44336;
    color: white;
    transition: 0.3s cubic-bezier(0.16, 0.14, 0.66, 1.04) all, right 0.53s cubic-bezier(0.35, -0.56, 0.45, 1.35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-3 .checkbox:active + .knobs:before {
    width: 36px;
    border-radius: 2px;
}

.button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -26px;
}

.button-3 .checkbox:checked + .knobs:before {
    content: "ON";
    left: 0;
    right: unset;
    background-color: #198754;
    color: white;
}

.button-3 .checkbox:checked ~ .layer {
    background-color: #6c757d;
}


.cursor-pointer {
    cursor: pointer;
}

.btn-options-plus {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 !important;
}

.row-edit-media,
.row-edit-option {
    display: flex;
}

.row-edit-media > span,
.row-edit-option > span {
    width: 50%;
    margin: 1%;
}

.row-edit-media, > span:last-child,
.row-edit-option > span:last-child {
    width: 90px;
}

.image_icon_medias,
.image_icon_options {
    border: 0.05rem solid;
    width: 18px;
    height: 18px;
    margin-top: 7px;

}

.drageable-element-media,
.drageable-element-option {
    border: 1px dotted rgba(42, 42, 42, 0.25);
    margin: 5px 0;
}


.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

#wrap-list-option-edit .picture {
    width: 106px;
    height: 70px;
    background-color: #999999;
    border: 4px solid #cccccc;
    color: #ffffff;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture:hover {
    border-color: #2ca8ff;
}

.content.ct-wizard-green .picture:hover {
    border-color: #05ae0e;
}

.content.ct-wizard-blue .picture:hover {
    border-color: #3472f7;
}

.content.ct-wizard-orange .picture:hover {
    border-color: #ff9500;
}

.content.ct-wizard-red .picture:hover {
    border-color: #ff3b30;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src {
    height: 100%;
}

.btnChangeImageOption,
.btnDeleteImageOption {
    height: 30px;
    margin: 2px;
}

/*Profile Pic End*/


.check-list-warp span.check-list-item-img input[type="checkbox"],
.check-list-warp span.check-list-item-img input[type="radio"] {
    display: none;
}


.check-list-warp span.check-list-item-img span:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #2977ff;
    position: absolute;
    top: -4px;
    left: -15px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.picture-md {
    max-width: 90px;
    max-height: 90px;
    width: 90px;
    height: 90px;
}

.picture-lg {
    max-width: 120px;
    max-height: 120px;
    width: 120px;
    height: 120px;
}

.picture-sm {
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
}

.emoji-sm {
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
}

.emoji-md {
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
}

.emoji-lg {
    max-width: 90px;
    max-height: 90px;
    width: 90px;
    height: 90px;
}

.check-list-warp span.check-list-item-img label img, .image-item-checkbox {
    margin-right: 0px !important;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #aaa8a8 !important;
    border-radius: .2rem;
}


.check-list-warp span.check-list-item-img :checked + span:before {
    content: "✓";
    background-color: #2977ff;
    transform: scale(.6);
}

.check-list-warp span.check-list-item-img :checked + span img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}


.sortable-element .boder-dote-field {
    padding: 10px;
    border: 1px dotted rgba(42, 42, 42, 0.25);
    transition: 0.1s linear;
}

.sortable-element .boder-dote-field:hover {
    border: 1px dotted rgba(42, 42, 42, 0.79);
    cursor: move;
}

.line-around {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

.line-around hr {
    padding: 0;
    margin: 0 10px;
}

.line-around span {
    font-weight: bold;
}


.line-around hr:first-child {
    content: "";
    width: 20px;
}

.line-around hr:last-child {
    content: "";
    width: 120px;
}

.handle {
    cursor: grab;
}

.picture-top {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
}

.picture-left {
    display: flex !important;
    align-items: center;
}

.picture-left .labelCheck {
    margin-left: 5px !important;
    /* padding: 18px 0 0 10px;*/
}

.picture-top label {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}

.picture-right {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    align-items: center;
}

.picture-right .labelCheck {
    margin-right: 5px !important;

}

.position-top {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
}

.position-right {
    display: flex !important;
}

.position-right label {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}

.position-left {
    flex-direction: row-reverse !important;
    justify-content: flex-end !important;
    display: flex !important;
}

.label-none > span {
    display: none !important;
}


#wrap-list-option-edit {
    border: 1px solid #dee2e6;
    padding: 1%;
    border-radius: 0.375rem;
    margin-top: 5%;
}

.starsRatings {
    color: #e0e0e0;
}

.starsRatings:hover {
    color: #bdbdbd;
}

.starsRatings.started {
    color: yellow;
}

.itemStarsRating {
    width: max-content;
}

.itemRating {
    width: max-content;
}

.listRating,
.listStarsRating {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.labelSati453 {
    margin: 0 15px !important;
}

/*
.line-around hr:last-child {
content: "";
width: 100px;
height: .009rem;
position: absolute;
background: black;
opacity: .25;
top: 50%;
left: -90%;
transform: translateY(-50%);
}*/


.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}


.itemRating > label {
    padding: 0 !important;
    margin: 0 !important;
}


.check-list-warp span.check-list-item-img label {
    padding: 0 10px;
    display: block;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
}
